=linky
  text-decoration: none
  font-weight: 700
  color: $color1
  cursor: pointer
  display: inline-block
  position: relative
  color: black

  &:after
    transition: width 0.2s,left 0.2s
    will-change: width
    content: attr(data-before)
    display: block
    position: absolute
    left: 0
    bottom: 0
    border-bottom: 4px solid black
    width: 0
    color: transparent
    overflow: hidden

=linky-hover
  &:after
    left: 0
    width: 100%

a
  +linky
  &:hover
    +linky-hover

input
  margin-bottom: 1em
  width: 100%
  border: 0
  padding: 0
  padding: 5px 0
  @extend %body-font
  font-size: ms(0)
  outline: 0
  background-color: transparent
  transition: all 0.2s
  &:focus
    outline: 0
    border-bottom: 4px solid $magenta
  border-bottom: 4px solid black

button
  background-color: black
  border: 0
  color: white
  @extend %body-font
  font-size: ms(0)
  padding: ms(-1)
  cursor: crosshair
  &:hover
    background-color: $magenta

  &[disabled]
    background-color: whitesmoke
    color: grey
    cursor: not-allowed

.bg-fix
  min-height: 100%
  min-width: 100%
  position: absolute
  top: 0
  left: 0
