$fa-font-path: "/static/font-awesome/fonts"

@import font-awesome/scss/font-awesome
@import reset
@import modularscale-sass/stylesheets/modular-scale

@import lib/general
@import lib/gridz

/**
 * Navigation Settings
 */
$nav-width: 200px
$nav-animation-speed: 0.3s

/**
 * Colors
 */
$magenta: rgba(255,100,150,1)

/**
 * Modular Scale Settings
 */
$ms-header-base: 18px
$ms-body-base: $ms-header-base

$ms-base: 12px
$ms-ratio: $golden

/**
 * Header Styles
 */
$header-font-family: 'Roboto', sans-serif
$header-font-variant: normal
$header-font-weight: 700
$header-line-height: 0.75em
%header-font
  font-family: $header-font-family
  font-weight: $header-font-weight
  line-height: $header-line-height
  vertical-align: top


/**
 * Body Copy Styles
 */
$body-font-family: 'Roboto Mono', monospace
$body-font-weight: 400
$body-letter-spacing: -0.03em
%body-font
  font-family: $body-font-family
  font-weight: $body-font-weight
  letter-spacing: $body-letter-spacing
  font-size: ms(1)

/**
 * App-wide Styles */
html, body
  // height: 100%
  min-height: 100%
  width: 100%
  // background-color: black

body
  @extend %body-font
  // font-size: ms(0)
  overflow-x: hidden

.view-panel-wrapper
  min-height: 100%
  overflow-x: hidden
  // background-color: white
  z-index: 2


%general-panel
  overflow-x: hidden
  overflow-y: auto
  width: 100%
  max-height: 100%
  padding: 45px

*, *:before, *:after
  box-sizing: border-box

$color1: black //#ffaa85
$color2: white //#85daff

h1, h2, h3, h4
  @extend %header-font

%h1
  font-size: ms(4, $ms-header-base - 5)
  +breakpoint(phablet)
    font-size: ms(4)

%h2
  font-size: ms(3, $ms-header-base - 5)
  +breakpoint(phablet)
    font-size: ms(3)

%h3
  font-size: ms(2, $ms-header-base - 5)
  +breakpoint(phablet)
    font-size: ms(2)

%h4
  font-size: ms(2, $ms-header-base - 5)
  +breakpoint(phablet)
    font-size: ms(2)

%body
  font-size: ms(0, $ms-body-base - 3)
  +breakpoint(phablet)
    font-size: ms(0, $ms-body-base)

p
  @extend %body
  line-height: 2em

li
  @extend %body
  line-height: 2em

@import global


@import 'home/home'
@import 'components/money'
@import 'components/nav'
