.bio
  +innerRow(collapse)
  padding:
    top: ms(2)
    bottom: ms(2)
  border-bottom: 5px solid black
  +breakpoint(phablet)
    padding:
      top: ms(4)
      bottom: ms(4)

  $default-size: 150px
  $phablet-size: 250px

  p, h1
    text-align: left
    margin-left: 0px
    +breakpoint(phablet)
      margin-left: $phablet-size + 30px
  h1
    clear: left
    +breakpoint(phablet)
      clear: none
  text-align: center
  .meh
    position: relative

    =avatar-styles($size)
      display: inline-block
      +breakpoint(phablet)
        float: left
      height: $size
      width: $size
      background-size: cover
      background-image: url(/static/images/avatar-new.jpg)
      background-color: white
      box-shadow: inset 0 0 0 1000px rgba(255,255,255,.4)
      background-position: top center
      border-radius: ($size/2)


    +avatar-styles($default-size)

    +breakpoint(phablet)
      +avatar-styles($phablet-size)

  h1
    @extend %h2
    line-height: 1em
    padding-bottom: ms(1)
    // float: left
    color: rgba(0,0,0,1)
    // position: absolute
    // bottom: 10px
    text-align: left
    width: 100%
