.contact-wrapper
  h1
    @extend %h3
    padding: ms(2) 0
  ul
    .icon-wrapper
      display: block
      height: ms(3)
      width: ms(3)
      box-shadow: inset 0 0 0 1000px rgba(255,255,255,.4)
      +breakpoint(tablet)
        // background-attachment: fixed
      background-size: cover
      border-radius: 100%
      float: left

      .icon
        display: block
        padding-bottom: 100%
        height: 0
        position: relative
        z-index: 1
        &:after
          display: none !important

      i
        display: block
        position: absolute
        width: 100%
        height: 100%
        color: white
        z-index: 2
        font-size: ms(1)
        text-align: center
        top: 50%
        display: block
        margin-top: -(ms(2)/2/2)
        transition: all 100ms



    .info
      +linky
      font-weight: 400
      color: black
      line-height: 1em
      margin-top: 17px
      margin-left: ms(0)
      padding-bottom: 10px
      word-wrap: break-word

    a
      margin-bottom: ms(0)
      &:after
        display: none !important
      &:hover
        i
          text-shadow: 0px 2px 2px rgba(0,0,0,0.2)
        .info
          +linky-hover


  ul
    li
      width: 100%
      +pie-clearfix
      // +breakpoint(tablet)
      //   width: 50%
      //   float: left
    li:nth-child(1n) .icon-wrapper
      background-image: url(/static/images/mobile/1.jpg)
      // +breakpoint(tablet)
      //   background-image: url(/static/images/stock/1.jpg)
    li:nth-child(2n) .icon-wrapper
      background-image: url(/static/images/mobile/2.jpg)
      // +breakpoint(tablet)
      //   background-image: url(/static/images/stock/2.jpg)
    li:nth-child(3n) .icon-wrapper
      background-image: url(/static/images/mobile/3.jpg)
      // +breakpoint(tablet)
      //   background-image: url(/static/images/stock/3.jpg)
    li:nth-child(4n) .icon-wrapper
      background-image: url(/static/images/mobile/4.jpg)
      // +breakpoint(tablet)
      //   background-image: url(/static/images/stock/4.jpg)
    li:nth-child(5n) .icon-wrapper
      background-image: url(/static/images/mobile/5.jpg)
      // +breakpoint(tablet)
      //   background-image: url(/static/images/stock/5.jpg)

.contact
  padding:
    // top: ms(2)
    bottom: ms(2)
  // border-bottom: 5px solid black
  +pie-clearfix
