footer

  background-color: white
  // border-top: 1px solid fade-out(black, 0.8)
  padding:
    top: 30px
    bottom: 30px

  .footer-content
    padding-top: ms(2)
    padding-bottom: ms(2)
    a
      font-weight: $body-font-weight


  a.b
    font-weight: 600
