h1
  .char2
    letter-spacing: -0.1em

.typer [class*=char-]
  transition: all 0.3s
  opacity: 1
.typer .hidden
  opacity: 0 !important

.kitten-bg
  background-image: url(/static/images/kittens_mobile.jpg)

  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.6)
  background-size: cover
  background-position: right center
  +breakpoint(phablet)
    background-position: top center
    background-image: url(/static/images/kittens_desktop.jpg)

.scroll-down
  font-size: ms(3)
  display: inline-block

.scroll-down-wrapper
  width: 100%
  position: absolute
  bottom: ms(1)
  text-align: center

header
  position: relative;
  width: 100%
  min-height: 50vh
  background-size: cover
  padding: 0
  overflow: hidden
  transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000)
  opacity: 1
  display: flex
  align-items: center
  &.bg-loading
    opacity: 0

  h1, h2
    line-height: 0.8em

  h2
    @extend %body-font
    padding-bottom: ms(1)

  h1
    @extend %h1
    padding-bottom: ms(1)
    padding-top: ms(1)

hgroup
  max-width: 900px
  color: black

  z-index: 4
  will-change: transform
  position: relative
