@import hidden-classes

$gutter: 8px
.logo
  padding: 10px
  position: relative
  cursor: pointer

  &:hover
    #logo-2
      transform: translate3d(-100%,0,0)
    #logo-1
      transform: translate3d(50%,0,0)

#logo-1, #logo-2
  transition: all 0.5s cubic-bezier(.48,-1,.56,1.78)
  width: 30px
  display: block
  float: left
  polygon
    fill: black

#logo-1
  transform: translate3d(0,0,0)

#logo-2
  transform: translate3d(-50%,0,0)


.bio-wrapper, .work-wrapper, .contact-wrapper, .moneys-wrapper
  @extend %full-width

.bio, .work
  clear: both


.content-wrapper
  line-height: 1.8em
  // min-height: 85%
  position: relative
  +outerRow
  padding: 0 15px
  +breakpoint(tablet)
    padding: 0 60px

  p
    %body-font

@import bio
@import contact
@import footer
@import hero
@import work
