.work
  padding:
    top: ms(2)
    bottom: ms(2)
  border-bottom: 5px solid black
  +pie-clearfix

  h1
    @extend %h3
    padding-bottom: ms(1)

  ul
    > li
      @extend %body
      a
        font-weight: 200
      position: relative
  > .work-fun
    padding-bottom: ms(2)
    +breakpoint(tablet)
      +pie-clearfix
      padding-bottom: ms(2)

  &:last-child
    padding-bottom: 0
    +breakpoint(tablet)

+breakpoint(tablet)
  .work-recent
    padding-left: 0

  .work-fun
    padding-right: 0
