
=pie-clearfix
    &:after
        display: table
        clear: both
        content: ''

=font-size($sizeValue: 1.6)
    font-size: $sizeValue + px
    font-size: $sizeValue / 10 + rem

=triangle($dir, $size, $color)
    border: $size transparent solid
    @if $dir == "top" or $dir == "up"
        border-bottom-color: $color
    @else if $dir == "right" or $dir == "after"
        border-left-color: $color
    @else if $dir == "bottom" or $dir == "down"
        border-top-color: $color
    @else if $dir == "left" or $dir == "before"
        border-right-color: $color

=placeholder()
    &.placeholder
        @content
    &:-moz-placeholder
        @content
    &::-webkit-input-placeholder
        @content

=breakpoint($point)
    @if $point == desktop
        @media (min-width: 70em)
            @content
    @else if $point == laptop
        @media (min-width: 64em)
            @content
    @else if $point == tablet
        @media (min-width: 50em)
            @content
    @else if $point == phablet
        @media (min-width: 37.5em)
            @content
        @media (min-width: 37.5em) and (orientation: landscape)
            @content
    @else if $point == mobile
        @media (max-width: 37.5em)
            @content

=multiple-box-shadow($direction: 'topleft', $distance: 10, $color: black)

    $shadow: 0px 0px $color
    $x: 0
    $y: 0
    @for $i from 1 through $distance

        @if $direction == "topleft"
            $x: $x - 1px
            $y: $y - 1px
        @else if $direction == "topright"
            $x: $x + 1px
            $y: $y - 1px
        @else if $direction == "bottomleft"
            $x: $x - 1px
            $y: $y + 1px
        @else if $direction == "bottomright"
            $x: $x + 1px
            $y: $y + 1px

        $shadow: $shadow + ', '+ $x +' '+ $y + ' ' + $color

    +box-shadow(unquote($shadow))


=prefixer ($property, $value, $moz: true, $webkit: true, $o: false, $ms: false, $spec: true)
    @if $moz
        -moz-#{$property}: $value
    @if $webkit
        -webkit-#{$property}: $value
    @if $o
        -o-#{$property}: $value
    @if $ms
        -ms-#{$property}: $value
    @if $spec
        #{$property}: $value

// keyframes mixin
=keyframes($name)
    @-webkit-keyframes #{$name}
        @content
    @-moz-keyframes #{$name}
        @content
    @-ms-keyframes #{$name}
        @content
    @keyframes #{$name}
        @content


=animate($animation)
    -webkit-animation: $animation
    -moz-animation: $animation
    -ms-animation: $animation
    animation: $animation

=aspect-ratio($width, $height)
    width: 100%
    height: 0
    padding-top: percentage($height/$width)

