///nathan gridz 9000

// @import compass/utilities/general/clearfix
// @import compass/css3

*, *:after, *:before
    box-sizing: border-box

$rowWidth: 900px
$columnGutter: 30px
$outerMargin: 30px
$totalColumns: 12
$mobileTotalColumns: 12

@function gridCalc($colNumber, $totalColumns)
    @return percentage($colNumber / $totalColumns)

// Outer row mixin for container rows

=outerRow
    width: $rowWidth
    padding-left: $outerMargin
    padding-right: $outerMargin
    // +breakpoint( mobile )
    //     padding-left: $outerMargin/3
    //     padding-right: $outerMargin/3
    max-width: 100%
    // margin: 0 auto
    +pie-clearfix
    // +breakpoint(tablet)
    //     width: auto
    //     min-width: 0
    //     margin-left: 0
    //     margin-right: 0

// Inner row mixin for nested rows, must be a child of an outer-row element. $behavior can be 'collapse' to get rid of margins

=innerRow($behavior: false)
    @if $behavior == collapse
        +row-i-base
        margin: 0
        +pie-clearfix
    @else
        +row-i-base
        margin: 0 (-($columnGutter / 2))
        +pie-clearfix

// Columns mixin, syntax is ($columns, $behavior). Behavior can be 'centered' which centers things or 'collapse' which collapses the gutters. ex @include row(4,[center | collapse])

=column($columns: $columns, $behavior: false)
    @if $behavior == center
        float: none
        margin: 0 auto !important
        +c-base
        width: gridCalc($columns, $totalColumns)
    @else if $behavior == collapse
        float: left
        +c-base
        padding: 0
        width: gridCalc($columns, $totalColumns)
    @else
        float: left
        +c-base
        width: gridCalc($columns, $totalColumns)

// Offset Mixin, include after a column mixin to manipulate its grid offset.

=offsetBy($offset: 1)
    margin-left: gridCalc($offset, $totalColumns)

// Push/Pull Mixins, include after a column mixin to manipulate stack ordering.

=push($push: 1)
    left: gridCalc($push, $totalColumns)

=pull($push: 1)
    right: gridCalc($push, $totalColumns)

=row-o
    +outerRow

=row-i-base
    width: auto
    max-width: none
    min-width: 0

=row-i
    +innerRow

=c-base
    position: relative
    min-height: 1px
    padding: 0 $columnGutter / 2

// @for $i from 1 through $totalColumns {
//   %c-#{$i} { @include column($i) }
// }
