.moneys
  +pie-clearfix
  border-bottom: 5px solid black
.moneys-wrapper
  // position: relative
  padding:
    top: ms(2)
    bottom: ms(2)

.payment-cta
  text-align: center

  +breakpoint(phablet)
    +column(12, collapse)
    padding-bottom: ms(2)

  padding-bottom: ms(2)

  h1
    @extend %h2
    line-height: 0.9em


.bitcoin
  +breakpoint(phablet)
    +column(6, collapse)
    padding-left: 15px

.payment-form
  padding-bottom: ms(1)

  +breakpoint(phablet)
    +column(6, collapse)
    padding-right: 15px
    padding-bottom: ms(2)

.error
  font-size: ms(0)

%payment-logo
  width: ms(4)
  height: ms(4)
  padding: ms(1)
  margin: 0 auto
  position: relative
  margin-bottom: ms(2)
  &:before
    content: ''
    height: 100%
    width: 100%
    position: absolute
    left: 0
    top: 0
    border-radius: ms(5)/2
    background-position: center center
    background-size: cover
    +breakpoint(tablet)
      background-attachment: fixed

.usd-logo
  @extend %payment-logo
  &:before
    background-image: url(/static/images/mobile/money.jpg)
    +breakpoint(tablet)
      background-image: url(/static/images/stock/money.jpg)
    box-shadow: inset 0 0 0 1000px rgba(50,255,50,.3)

.bitcoin-logo
  @extend %payment-logo
  &:before
    background-image: url(/static/images/mobile/circuit.jpg)
    +breakpoint(tablet)
      background-image: url(/static/images/stock/circuit.jpg)
    box-shadow: inset 0 0 0 1000px rgba(150,150,0,.4)

.bitcoin-logo, .usd-logo
  img
    max-height: 100%
    max-width: 100%
    position: relative

.bitcoin-address
  width: 100%
  word-wrap: break-word
  font-size: ms(2)
  line-height: 1em
  text-align: justify
  padding-bottom: ms(1)
  +breakpoint(phablet)
    padding: ms(1)
  // text-align: left

