.navbar
  width: 100%
  background-color: rgba(0,0,0,1)
  color: white
  position: fixed
  top: 0
  bottom: 0
  left: 0
  width: $nav-width
  transition: all $nav-animation-speed
  display: block
  z-index: 0
  will-change: height
  +pie-clearfix

  ul
    padding: 0 10px
  li
    padding: 10px 5px

.logo-wrapper
  position: absolute
  top: 0px
  left: 0px
  &.nav-open
  z-index: 10

.logo
  display: block
  font-size: 35px
  list-style: 1em
  &:after
    display: none


.top-nav

  will-change: transform
  transform: translate3d(0,-200%,0)
  transition: all 300ms
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: rgba(0,0,0,0.5)
  height: 100px
  z-index: 4
  &.open
    transform: translate3d(0,-50%,0)

  .logo-wrapper
    bottom: 0
    top: auto
    // padding: 10px
    height: 50%
  #logo-1, #logo-2
    width: 20px
