<header class="bg-loading">
  <div bg-fix bg-loader class="bg-fix kitten-bg"></div>
  <hgroup class="content-wrapper">
    <h1>Nathan Mosher</h1>
    <h2>UX Engineer <span class="at">@</span> Google</h2>
    {# <div class="scroll-down-wrapper">
      <i class="fa fa-angle-down scroll-down"></i>
    </div> #}
  </hgroup>
</header>
